{{ define "main" }}
  <!-- <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <article>
      <h2>{{ .Title }}</h2>
    </article>
  {{ end }} -->

  <script>
  var wp1 = [{{ range $index, $e := .Pages }}{{ if $index }},{{end}}{{ .Render "marker" }}{{ end }}]
  </script>

  <div id="map" class="map"></div>

{{ end }}
