<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="/js/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
<script>

var map = L.map('map')

var wp = Array();

wp1.forEach( (a) => {
  loc = a.split(',');
  var marker = L.latLng(loc[0],loc[1])
  wp.push(marker)
})

createM = function(i, wp) {
    var options = {
    icon: greenIcon,
    },
      marker = L.marker(wp.latLng, options);
      marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    return marker;
  }

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  maxZoom: 18,
  id: 'mapbox/light-v10',
  tileSize: 512,
  zoomOffset: -1,
  accessToken: 'pk.eyJ1IjoibHJ1bGxvIiwiYSI6ImNpaDUydjdoNTAwd3BzdGx5bGlhOTh6bXYifQ.tE8QgNbVSgwP8V5LnJWA3w'
}).addTo(map);

var greenIcon = L.icon({
  iconUrl: '/images/leaf-green.png',
  shadowUrl: '/images/leaf-shadow.png',

  iconSize:     [38, 95], // size of the icon
  shadowSize:   [50, 64], // size of the shadow
  iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
  shadowAnchor: [4, 62],  // the same for the shadow
  popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});


var control = L.Routing.control({
waypoints: wp,
show: false,
plan: new L.Routing.Plan(wp,{createMarker: createM} ),
router: L.Routing.mapbox('pk.eyJ1IjoibHJ1bGxvIiwiYSI6ImNpaDUydjdoNTAwd3BzdGx5bGlhOTh6bXYifQ.tE8QgNbVSgwP8V5LnJWA3w',{ profile: 'mapbox/walking' } )
}).addTo(map);

console.log(control.getPlan())

</script>
